body{background-color: #e6e6e6; font-family: b roya;}

#page1
{
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 60px;
    background-color: white;
    margin-top: 3%;
    direction: rtl;
}

#page2
{
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 60px;
    background-color: white;
    margin-top: 3%;
    direction: rtl;
}

#page3
{
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 60px;
    background-color: white;
    margin-top: 3%;
    direction: rtl;
}

.pr-title
{
    background-color: #4379a8;
    text-align: center;
    border-radius: 10px;
}

h3{color: white;}

.input
{
    margin-right: 20%; 
    margin-top: -7%; 
    border-radius: 20px; 
    text-align: center;
}

#continue1
{
    border: 0px;
    background-color: #4379a8;
    width: 10%; 
    height: 5%; 
    margin-right: 45%; 
    font-size: 160%; 
    color: white; 
    font-family: b koodak; 
    border-radius: 30px;
}
#continue2
{
    border: 0px;
    background-color: #4379a8;
    width: 10%; 
    height: 5%; 
    margin-right: 5%; 
    font-size: 160%; 
    color: white; 
    font-family: b koodak; 
    border-radius: 30px;
}

#submit
{
    border: 0px;
    background-color: #4379a8;
    width: 10%; 
    height: 5%; 
    margin-right: 5%; 
    font-size: 160%; 
    color: white; 
    font-family: b koodak; 
    border-radius: 30px;
}

#previous1
{
    border: 0px;
    background-color: #4379a8;
    width: 10%; 
    height: 5%; 
    margin-right: 37.5%; 
    font-size: 160%; 
    color: white; 
    font-family: b koodak; 
    border-radius: 30px;
}

#previous2
{
    border: 0px;
    background-color: #4379a8;
    width: 10%; 
    height: 5%; 
    margin-right: 37.5%; 
    font-size: 160%; 
    color: white; 
    font-family: b koodak; 
    border-radius: 30px;
}

input {text-align: center;}

#add
{
    width:4%;
    height:4%;
    margin-right: 48%;
    color: #4379a8;
}

/*-----------------------------------------*/

@media only screen and (max-width: 1500px)
{
    #page1 , #page2 , #page3
    {
        width: 80%;
    }
}

@media only screen and (max-width: 800px)
{
    #page1 , #page2 , #page3
    {
        width: 90%;
    }
}

@media only screen and (max-width: 400px)
{
    #page1 , #page2 , #page3
    {
        width: 98%;
    }
}

@media only screen and (max-width: 700px)
{
    #continue1 , #continue2 , #previous1 , #previous2 , #submit
    {
        width: 20%;
        font-size: 120%;
    }
}

@media only screen and (max-width: 400px)
{
    #continue1 , #continue2 , #previous1 , #previous2 , #submit
    {
        width: 30%;
        font-size: 120%;
    }
}