body{background-color: #e6e6e6; font-family: b roya;}

#dash-opt
{
    width: 5%;
    height: 80%;
    background-color: #5094cf;
    margin-top: 3%;
    box-shadow: -10px 0px 50px rgb(143, 143, 143);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    position:fixed;
    margin-left: 94.5%;
}

.opt
{
    text-align: center;
    color: white;
    font-size: 110%;
}

.opt-env
{
    height: 18%; 
    position: relative;
    background-color: #5094cf;
}

/*----------------------------------------*/
#profile
{
    width: 70%;
    height: 90%;
    /*background-color: white;*/
    margin: auto;
    margin-top: 3%;
    position: relative;
}

#personal-info
{
    position: relative;
    margin: auto;
    width: 90%;
    height: 30%;
    background-color: white;
    border-radius: 30px;
    direction: rtl;
    box-shadow: 0px 0px 50px rgb(143, 143, 143);
}

#info
{
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: 2%;
}

.info-ul
{
    position:absolute;
    margin-top: 1%;
    font-size: 160%;
    list-style-type: none;
}

.li1 {margin-top: 18%;}

#info-ul2 {margin-right: 12%; margin-top: 0%;}
#info-ul3 {margin-right: 40%;}
#info-ul4 {margin-right: 52%; margin-top: 0%;}
#info-ul5 {margin-right: 80%;}

#link 
{
    text-decoration: none;
    color: #3d7db4;
    font-size: 75%;
}

#star
{
    width: 7%;
    color: gold;
    margin-left: 46%;
    margin-top: 5%;
}
#status
{
    position: relative;
    margin: auto;
    width: 90%;
    height: 30%;
    background-color: white;
    border-radius: 30px;
    margin-top: 5%;
    direction: rtl;
    box-shadow: 0px 0px 50px rgb(143, 143, 143);
}

/*----------------------------------------------*/

#buy
{
    width: 70%;
    height: auto;
    /*background-color: white;*/
    margin: auto;
    margin-top: 3%;
    position: relative;
}

.insure
{
    position: relative;
    margin: auto;
    width: 80%;
    height: 25%;
    background-color: white;
    border-radius: 40px;
    margin-top: 5%;
    direction: rtl;
    box-shadow: 0px 0px 50px rgb(143, 143, 143);
}

#get
{
    width: 8%;
    height: 20%;
    font-size: 160%;
    border-radius: 30px;
    border: 0px;
    margin-right: 90%;
    margin-top: 15%;
    font-family: b koodak;
    color: white;
    background-color: #55a9f1;
}

.img1
{
    width: 15%;
    height: 70%;
    border-radius: 30px;
    margin-top: 3%;
    margin-right: 3%;
    background-color: tomato;
    position: absolute;
}

.details1
{
    margin-right: 25%;
    position: absolute;
    font-size: 130%;
    margin-top: 2%;
    width: 50%;
    height: 90%;
    justify-self: self-end ;
}

/*----------------------------------------------*/

#support
{
    width: 70%;
    height: 90%;
    /*background-color: white;*/
    margin: auto;
    margin-top: 3%;
    position: relative; 
    direction: rtl;
}
#ask
{
background-color: white;
border-radius: 40px;
width: 80%;
margin: auto;
position: relative;
box-shadow: 0px 0px 50px rgb(143, 143, 143);
}

#ticket-txt
{
    margin-right: 15%;
    width: 70%;
    height: 30%;
    border-radius: 30px;
    font-size: 120%;
}

#ticket-sub
{
    position: absolute;
    margin-top: 22%;
    width: 10%;
    height: 15%;
    font-size: 130%;
    font-family: b koodak;
    border-radius: 30px;
    border: 0px;
    background-color: #55a9f1;
    color: white;
}

#answer
{
    background-color: white;
    border-radius: 40px;
    width: 80%;
    margin: auto; 
    position: relative;
    height: 25%;
    margin-top: 5%;
    box-shadow: 0px 0px 50px rgb(143, 143, 143);
}