#slider
{
    position: relative;
}

.text{
    position: absolute;
    color: rgb(129, 136, 156);
    bottom: 10%;
    text-align: center;
    width: 100%;
    font-size: 22px;
}

.perv, .next
{
    color: rgb(180, 180, 180);
    text-decoration: none;
    position: absolute;
    font-size: 40px;
    top: 55%;
    transform: translate(0,-50%);
}

.perv {left: 15%;}
.next {right: 15%;}

.slide
{
    display: none;
    animation: fade 2s;
}

.slide.active
{
    display: block;
}

.sliderpic
{
    width: 60%; 
    height: 70%;
    margin-left: 20%;
    border-radius: 20px;
    margin-top: 2%;
}

.dot
{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin-top: 0.5%;
}
.dot.active
{
    background-color: rgb(255, 85, 26);
}

#dots
{
    text-align: center;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

@media only screen and (max-width: 1100px) 
    {
        .sliderpic
        {
            margin-top: 5%;
            height: 50%;
        }

        .perv, .next
        {
            top: 60%;
        }
    }

@media only screen and (max-width: 800px) 
    {
        .sliderpic
        {
            margin-top: 5%;
            width: 80%;
            margin-left: 10%;
        }

        .perv {left: 5%;}
        .next {right: 5%;}

        .perv, .next
        {
            top: 60%;
        }
    }

@media only screen and (max-width: 700px) 
    {
        .sliderpic
        {
            margin-top: 12%;
            width: 80%;
            margin-left: 10%;
        }

        .perv {left: 5%;}
        .next {right: 5%;}

        .perv, .next
        {
            top: 70%;
        }
    }

@media only screen and (max-width: 700px) 
    {
        .sliderpic
        {
            margin-top: 12%;
            width: 80%;
            margin-left: 10%;
        }

        .perv {left: 5%;}
        .next {right: 5%;}

        .perv, .next
        {
            top: 70%;
        }
    }

    @media only screen and (max-width: 700px) 
    {
        .sliderpic
        {
            margin-top: 30%;
            width: 98%;
            height: 40%;
            margin-left: 1%;
            border-radius: 10px;
        }

        .perv {display: none;}
        .next {display: none;}

        .perv, .next
        {
            top: 70%;
        }
    }